
  
  
  table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    width: 90%;
    text-align: center;
    margin:auto;
   
  }
  .tableofuploadedfiles{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    width: 60%;
    text-align: center;
    margin:auto;
   
  }
  thead{
    background-color: rgba(35, 44, 129, 0.199);
    height: 1.5cm;
   
    
  }
  tr{
    border: 1px solid rgb(236, 235, 235);
    padding: 8px;
    height: 1.2cm;
    text-align: center;
  }
  th{
   
    padding: 8px;
    
    
    text-align: center;
   
    color: rgb(10, 22, 131);
  } 
   tr:hover {background-color: #ddd;}
 
  .gradient {
    align-items: stretch;
    margin: 1em 0;
    height: 60px;
    line-height: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
  width: 90%;
  
    transform: translateY();
    margin:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, rgba(198, 204, 236, 0.918), rgba(11, 68, 143, 0.856));
  }
  .gradient_Join{
    align-items: stretch;
    margin: 1em 0;
    height: 60px;
    line-height: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
  width: 60%;
  
    transform: translateY();
    margin:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, rgba(198, 204, 236, 0.918), rgba(11, 68, 143, 0.856));

  }
  
  .userfilesall{
    margin: 110px 260px;

  }
  
  .showeyes{
    border: none;
    background-color: transparent;
  color: #026aa4;
  font-size: 24px;
  }
  .downloadcsv{
    border: none;
    background-color: transparent;
  color: rgb(39, 126, 13);
  font-size: 20px;
  }
  
  .buttonpoubelle{
    border: none;
    background-color: transparent;
  color: rgb(199, 21, 21);
  font-size: 24px;}
  
  .Upload{
  
    color: rgb(255, 255, 255);
    background-color: #026aa4;
    border-radius: 5px;
    border: none;
    font-size: 15px;
   height:47px;
   width: 80px;
   text-align: center;
  
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  
    transform: translate(800%,-200%);
  
  
  
  
  }
  
  
  .eyebutton{  
    color: rgb(255, 255, 255);
    background-color: #026aa4;
    border-radius: 5px;
    border: none;
    font-size: 15px;
   height:47px;
   width: 80px;
   text-align: center;
  
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
   
    
    transform: translate(680%,-100%);
  
  
  
  }
  
  hr{
    border: 0.1pt solid rgba(199, 199, 199, 0.534);
  }
  .eyebutton:hover{  
    box-shadow: inset 0 0 0 50px gray;
  }
  
  .Upload:hover{  box-shadow: inset 0 0 0 50px gray;}
  .buttontexticon{
    font-size: 15px;
    font-weight: bold;
    
    
  }
  
 
  .scrolltop{
    border: none;
    background-color: transparent;
    color: rgb(13, 21, 126);
    font-size: 20px;
    transform: translate(5300%,1000%);
  }

  .box{
    transform: translate(33%,300%);
  }
  
  .box select {
    background-color: #9d9d9eb6;
    color: white;
    padding: 5px;
    width:200px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin:10px;
  
    
  }
  .selectoption{
    transform: translate(33%,150%);
  }
  
  .selectoption select{
    background-color: #9d9d9eb6;
    color: white;
    padding: 5px;
    width:200px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin:10px;
  }
  
  .box:hover {
    
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
    background-color:#9d9d9eb6;
   
    
  }


  .buttonShow{
    color: rgb(255, 255, 255);
    background-color: #026aa4;
    border-radius: 5px;
    border: none;
    font-size: 14px;
   height:40px;
   width: 80px;
   text-align: center;
  
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin: 5px;
    transform: translate(90%);}
  .download{color: rgb(255, 255, 255);
    background-color: #026aa4;
    border-radius: 5px;
    border: none;
    font-size: 12px;
   height:40px;
   width: 80px;
   text-align: center;
   transform: translate(100%);
  
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;}
    .Buttonupload{
      color: rgb(255, 255, 255);
    background-color: #026aa4;
    border-radius: 5px;
    border: none;
    font-size: 14px;
   height: 40px;
   width: 80px;
   text-align: center;
  
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin: 5px;
    transform: translate(110%);
    }
  /*.Button{
    transform: translate(300%,300%);
  }*/
  .descr .profil{
    transform: translate(8%,90%);
    letter-spacing: 1px;
    color: rgb(139, 139, 139);
    font-size: 16px;
  }
  .profil{
    transform: translate(10.8%,-90%);
    letter-spacing: 1px;
    color: rgb(110, 110, 110);
    font-size: 16px;
  }
  .jointable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    width: 60%;
    text-align: center;
    margin:auto;
    transform: translateY(40%);
    
    
    
  }